$primary-color: #db7ad5;
$accent-color: #a8fbd3;
$warn-color: #822571;
$button-color: #31326f;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  margin: 20px;
}

h1, h2, p {
  color: $warn-color;
}

table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 10px;
    border: 1px solid $button-color;
    text-align: left;
  }

  th {
    background-color: $primary-color;
    color: white;
  }
}

button {
  background-color: $primary-color;
  color: $button-color;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: lighten($primary-color, 10%);
    transform: scale(1.05);
  }
}
#submit:disabled {
  cursor: not-allowed;
}

.tooltiptext {
  width: 130px;
  background-color: rgb(245, 184, 244);
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s;
}

#tooltip:hover .tooltiptext {
  opacity: 1;
}


